/* App.css */
.App {
  display: flex;
  min-height: 100vh;
}

.Sidebar {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.MainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.MainContent > header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

main {
  flex-grow: 1; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 20px; 
}

